*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.bold{
    font-weight: 700;
    font-style: italic;
    color: #00AA58;
}
hr{
    margin: 50px 160px;
    background-color: #00AA58;
    height: 2px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00AA58; 
    color: #fff;
    width: 100%;
}
.navbar-links{
    align-self: self-end;
}
.icon{
    margin-left: 20px;
    padding: 10px;
}
.icon h1{
    margin: 5px 0;
    font-family:'Marhey','Arial', sans-serif;
    color:#fff ;
}
.bi-whatsapp{
    color: #fff7f7;
}
.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li{
    list-style: none;
    margin:0.6px;
}
.navbar-links li a{
    text-decoration: none;
    color: #fff;
    padding: 1.3rem;
    display: block;
}
.navbar-links a:hover{
    background-color: #D40C16;
    color: #fff;
}
.toggle-button{
    position: absolute;
    top: 1.8em;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color:#fff;
    border-radius: 10px;
}
/*main start*/
.main_div p{
    font-size: 1.5rem;
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: #d40c1652;
    text-align: center;
}
.main_text{
    width: 100%;
    margin: 0;
}
.slide_container{
    position: relative;
    width: 100%;
    height: 440px;
    box-shadow: 0 3px 8px 2px #828282 ;
}
.slide_container .slides{
    width: 100%;
    height: calc(100%);
    position: relative;
    overflow: hidden;

}
.slide_container .slides img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
.slide_container .slides img:not(.active){
    top: 0;
    left: -100%;
}
span.next, span.prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 12px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s;
    border-radius: 3px;
    user-select:none;
    cursor: pointer;
    z-index: 1;
}
span.next{
    right: 20px;
}
span.prev{
    left: 20px;
}
span.next:hover,span.prev:hover{
    background-color: #00AA58;
    opacity: 0.8;
}
@keyframes next1{
    from{
        left: 0%;
    }
    to{
        left: -100%;
    }
}
@keyframes next2{
    from{
        left: 100%;
    }
    to{
        left: 0%;
    }
}
@keyframes prev1{
    from{
        left: 0%;
    }
    to{
        left: 100%;
    }
}
@keyframes prev2{
    from{
        left: -100%;
    }
    to{
        left: 0%;
    }
}
.box{
    display: flex;
    align-items: center;
}
.box img{
    margin: 10px auto;
    border-radius: 50%;
    box-shadow: 0px 0px 19px 0 #383838;
}
.central_I{
    display: flex;
    justify-content: space-around;
    align-items: center;  
    margin: 110px 0;     
}
.central_p, .box{
    padding: 20px;
}
.central_I h2 {
    color: #D40C16;
}
.central_p a{
    margin: 0 10px 10px;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #000;
    color: #000;
    background-color: #fff;
}
.central_I a:hover{
    background-color: #00AA58;
    color: #fff;
    border: 1px solid #00AA58;
}
.central_p a{
    display: inline-block;
}
.central_II{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 80px 0;
}
.central_II_box{
    flex-basis: 28%;
    height: 260px;
    padding: 20px;
    border-radius: 10px 12px 10px;
    margin: 10px;
}
.central_II_box a{
    text-decoration: none;
    color: #171717;
}
.central_II_box p{
    font-size: 1.3rem;
}
.central_header{
    margin: 30px;
    text-align: center;
}
.central_header h2{
    color: #D40C16;
}
.central_cardapio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
    background-image: url(img/pizza-vila-guarani-jabaquara-main-3.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px 0;
}
.main_cardapio{
    background-color: #ffffffb9;
    border: 1px solid #000;
    padding: 20px;
    text-align: center;
}
.main_cardapio a{
    margin: 0 10px 10px;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #000;
    background-color: #ffffff94;
    color: #000;
}
.main_cardapio a:hover{
    background-color: #00AA58;
    color: #fff;
    border: 3px solid #00AA58;
}
.main_cardapio img{
    border-radius: 20px;
    border: 1px solid #000;
}
.bi{
    font-size: 3.5rem;
    color: #000;
}
#go-top{
    position: fixed;
    bottom: 135px;
    right: 43px;
    background-color: #D40C16;
    color: #fff7f7;
    opacity: 0.7;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 5px 2px 4px #fff;
    font-size: 20px;
    transition: all 0.2s linear;
}
#go-top:hover{
    opacity: 1;
} 
.hidden{
    display: none;
}
#fa_pop{
    color: #25D366;
    font-size: 4rem;
}
.whatsapp_btn_con{
    border-radius: 15px;
    position: fixed;
    right: 14px;
    opacity: 0;
    bottom: -90px;
    padding: 15px;
    animation: fade-up 1000ms forwards;
    animation-delay: 1000ms;
}
@keyframes fade-up {
    100%{
        bottom: 12px;
        opacity: 1;
    }
}
.whatsapp_btn_con, .whatsapp_btn{
    display: inline-block;
    transition: all 400ms;
}
.whatsapp_btn_con, .whatsapp_btn:hover{
    transform: scale(1.2);
}
.whatsapp_btn_con span{
    position: absolute;
    top: -7px;
    left: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #25D366;
    transform: rotateZ(20deg) translateX(10px);
    opacity: 0;
    transition: all 400ms;
}
.whatsapp_btn_con, .whatsapp_btn:hover + span{
    transform: rotateZ(0) translateX(0);
    opacity: 1;
}
.footer_nav{
    display: flex;
    justify-content: space-around;
    background-color: #00AA58;
    color: #000;
    flex-direction: column;
    align-items:center;
}
.footer_nav li{
    list-style: none;
    display: inline;
    padding: 10px 30px;
}
.footer_nav p{
    text-align: center;
    margin: 0px;
    padding: 0;
    color: #fff;
}
.footer_nav a{
    text-decoration: none;
    color: #fff;
}
.footer_nav ul{
    margin: 20px;
    padding: 0;
}
.footer_nav a:hover{
    color: #D40C16;
}
.footer{
    background-color:#00AA58 ;
    color: #fff;
    padding: .5px;
    text-align: center;
}
#moja{
    font-size: 2rem;
}
#moja_I{
    font-size: 2rem;
}
#moja_II{
    font-size: 2rem;
}
.thumbnail { 
    top:-50px; 
    left:-35px; 
    display:block; 
    z-index:999; 
    cursor: pointer; 
    -webkit-transition-property: all; 
    transition-property: all;
    -webkit-transition-duration: 0.3s; 
    transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 
    transition-timing-function: ease; 
} 
.thumbnail:hover {   
    transform: scale(1.1); 
}

/*start of pages*/
/*combo page*/
.novos{
    padding:30px ;
}
.novos h1, .novos p, .novos ul{
    text-align: center;
}
.novos h1{
    color: #D40C16;
}
.novos li {
    list-style:none;
}.novo-green{
    color: rgb(1, 134, 1);
}
.combos{
    padding: 20px 20px;
    padding-bottom: 0;
    text-align: center;
}
.combos h1{
    color: #D40C16;
}
.combos_I{
    text-align: center;
}
.combos_I li{
    list-style: none;
    margin-bottom: 30px;
}
.combos_I ul{
    padding: 20px;
}
#combo-p{
    margin-bottom: 30px;
}
#combo-li-1{
    color: rgb(255, 68, 68);
}
#combo-li-2{
    color: rgb(0, 170, 170);
}
#combo-li-3{
    color: rgb(143, 143, 0);
}
#combo-li-4{
    color: rgb(0, 165, 0);
}
#combo-li-5{
    color: rgb(255, 101, 41);
}

/*contact page*/
.contact_I{
    margin: 100px 0;
    display: flex;
    padding: 20px;
    justify-content: space-around ;
}
.contact_text{
    margin-top: 6%;
    text-align: center;
    margin-bottom: 10%;
}
.contact_text h1{
    color: #D40C16;
}
.contact_II{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 25px;
    margin: 100px 0;
}
.contact_II li{
    padding: 10px;
    list-style-type: none;
}
.media{
    display: flex;
}
.media a{
    text-decoration: none;
}
.mapa{
    border: 1px #00AA58 solid ;
}
.bi-facebook{
    color: #1877F2;
    font-size: 1rem;
}
.bi-instagram{
    color: #fe75ae;
    font-size: 1rem;
}
.bi-twitter{
    color: #1DA1F2;
    font-size: 1rem;
}

/*cardapio page*/
.wrapper_cardapio{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0;
    background-color: rgb(254, 252, 247);
}
.navbar_cardapio{
    display: flex;
    border-bottom: 1px solid #00AA58;
    background-color: #474747;
}
.navbar_cardapio ul{
    margin: 0;
    padding: 0;
}
.navbar_cardapio li{
    list-style: none;
    margin:0.6px;
}
.navbar_cardapio li a{
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
    text-align: center;
    font-size: 1.3rem;
}
.navbar_cardapio a:hover{
    background-color: #00AA58;
    color: #fff;
}
.cardapio_cut{
    flex-basis: 100%;
}
.cardapio_cut li{
    margin: 10px;
}
.table{
    margin: 2px;
    text-align: center;
}
.table th{
    color: #D40C16;
    font-weight: 800;
}
.table td{
    padding: 5px;
    color: #8C8888;
}
/*about page*/
.about_main{
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    color: #000;
}
.about_central_I{
    margin: 100px 50px;
}
.about_main h2{
    color: #D40C16;
}
.about_main_text{
    flex-basis: 55%;
}
.about_main_img{
    margin: 30px;
}
.about_main_img img{
    border: 2px solid #000;
    box-shadow: 0 0 15px 0 #000;
}
.about_central_I h2{
    color: #D40C16;
}
.about_central_I a{
    color: #00AA58;
}
.about_central_I li{
    list-style: none;
}
div > img {
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%;
  }


@media(max-width: 1040px){
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }
    .navbar-links li i:hover{
        background-color: #00AA58;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li{
        text-align: center;
    }
    .navbar-links.active{
        display: flex;
    }
    .mapa{
        display: none;
    }
    .festa_main{
        flex-wrap: wrap;
    }
    .festa_central{
        text-align: start;
    }
    .wrapper_cardapio{
        flex-wrap: wrap;
    }
    .central_II{
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap; 
          
    }
    .central_II_box{
        height: 100%;
        flex-basis: 100%; 
    }
    .central_cardapio{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        margin-top: 50px;
    }
    .main_cardapio{
        margin: 0 20px 20px;
    }
    .main_cardapio img{
        width: 100%;
    }
    .main_div img{
        width: 100%;
        background-size: cover;
    }
    .about_main_text{
        flex-basis: 100%;
    }

}
@media(max-width: 787px){
    hr{
        display: none;
    }
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li{
        text-align: center;
    }
    .navbar-links.active{
        display: flex;
    }
    .about_main{
        flex-wrap: wrap;
    }
    .main{
        flex-wrap: wrap;
        width: 100%;
    }
    .central_I{
        flex-wrap: wrap;
        margin: 50px 5px;
    }
    .contact_I{
        flex-wrap: wrap;
    }
    .festa_main{
        flex-wrap: wrap;
    }
    #reverse{
        flex-wrap: wrap-reverse;
    }
    .vegetais td, .frango td, .fundo td, .doce td, .bovina td, .queijos td{
        padding: 0px;
    }
    #go-top{
        bottom: 2.5rem;
        left: 1rem;
        right: auto;
    }
    .hidden_I{
        display: none;
    }
    .central_cardapio{
        flex-wrap: wrap;
    }
}

@media(max-width: 550px){
    .wrapper_cardapio{
        font-family: 'Times New Roman', Times, serif;
    }
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li{
        text-align: center;
    }
    .navbar-links.active{
        display: flex;
    }
    .main{
        flex-wrap: wrap;
    }
    .central_I{
        flex-wrap: wrap;
    }
    .contact_I{
        flex-wrap: wrap;
    }
    .contact_II{
        padding: 0;
    }
    #reverse{
        flex-wrap: wrap-reverse;
    }
    .mapa{
        display: none;
    }
    .vegetais td, .frango td, .fundo td, .doce td, .bovina td, .queijos td{
        padding: 0px;
    }
    .wrapper_cardapio table {
        font-size: .8rem;
    }
    #doce_I{
        padding: 27px;
    }
    .footer_nav ul{
        padding: 0;
    }
    .footer_nav li{
        padding: 5px;
    }
    .box img{
        width: 100%;
    }
    .about_central_I{
        margin: 50px;
    }
}